div.blog-post-preview {    
	
	padding-top: 1rem;    
	 
	margin-bottom: 1rem;
}
/* title */
.blog-posts h1 > * {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.4rem !important;
	font-weight: bold;
	text-decoration-line: none !important;
	border-bottom: none;
}

.blog-posts h1 {
	margin-bottom: 1px;
}

.blog-posts h1 > a:hover, 
.blog-posts h1 > a:active, 
.blog-posts h1 > a:focus {
  outline: 0;
}


/* Date */
.blog-posts h2 {
	font-size: 0.8rem !important;
	font-weight: 100 !important;
	line-height:1rem;
}
